body {
	color: #333;
	background: fixed url(../pic/bg60.jpg) no-repeat;
	background-size: 100%;
	font: 16px/28px Helios, "Helvetica Neue", Arial, sans-serif;

	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

a, a:visited {
	color: #ff5522;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/* общие стили для сайта */
.alignCenter { text-align: center; }
.alignLeft { text-align: left; }
.alignRight { text-align: right; }
.alignJustify { text-align: justify; }
.book { text-indent: 28px; }
.floatLeft { float: left; }
.floatRight { float: right; }
.nwrap, .nowrap { white-space: nowrap; }
.strong { font-weight: bold; }
.block { display: block; }
.inline { display: inline; }
.hidden { display: none; }
.clear { clear: both; line-height: 0; height: 0; }

p { margin-bottom: 8px; }
small { font-size: 11px; }
abbr { border-bottom: 1px dotted; }

#menu {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	padding: 0 24px;
	box-sizing: border-box;
}

#menu div.left {
	float: left;
}

#menu div.left h1 a {
	font: bold 32px/48px Helios, "Helvetica Neue", Arial, sans-serif;
	text-decoration: none;
	color: #333;
}

#menu div.left h2 span {
	margin-right: 6px;
	background: rgba(255, 255, 255, .65);
	padding: 2px 4px;
}

#menu div.right ul {
	list-style: none;
	float: right;
}

#menu div.right ul li {
	display: inline;
}

#menu div.right ul li a {
	font: bold 20px/60px Helios, "Helvetica Neue", Arial, sans-serif;
	margin: 0 2px;
	padding: 4px 8px;
	text-decoration: none;
}

#menu div.right ul li a.active {
	border-bottom: 2px solid;
}

#menu div.right ul li a:hover {
	background: #ff5522;
	color: white;
}

#content {
	width: 1000px;
	margin: 0 auto 24px;
	padding: 24px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, .8);
	border-radius: 12px;
}

#content.index {
	background: none;
}

#content h1 {
	font: 20px/32px Helios, "Helvetica Neue", Arial, sans-serif;
	color: #ff5522;
	margin-bottom: 12px;
}

#content ul, #content ol {
	margin-left: 16px;
}

#content img {
	margin: 6px 0;
	border-radius: 12px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

#indexText {
	margin-left: 550px;
	padding: 18px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, .6);
	border-radius: 8px;
}
